In [187]:
import pandas as pd
import numpy as np

athlete_events = pd.read_csv('./data/athlete_events.csv')
country_dictionary = pd.read_csv("./data/country_dictionary.csv")
noc_regions = pd.read_csv("./data/noc_regions.csv")
summer = pd.read_csv("./data/summer.csv")
winter = pd.read_csv("./data/winter.csv")

athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [172]:
len(athlete_events)

271116

In [174]:
athlete_events.isnull().sum()/len(athlete_events)

ID        0.000000
Name      0.000000
Sex       0.000000
Age       0.034944
Height    0.221938
Weight    0.231912
Team      0.000000
NOC       0.000000
Games     0.000000
Year      0.000000
Season    0.000000
City      0.000000
Sport     0.000000
Event     0.000000
Medal     0.853262
dtype: float64

In [175]:
athlete_events['Age'].fillna(athlete_events['Age'].mode()[0], inplace=True)

In [176]:
athlete_events['Medal'].fillna(0, inplace=True)

In [177]:
athlete_events['Medal'].replace('Gold', 1, inplace=True)
athlete_events['Medal'].replace('Silver', inplace=True)
athlete_events['Medal'].replace('Bronze', inplace=True)

In [178]:
athlete_events.isnull().sum()/len(athlete_events)

ID        0.000000
Name      0.000000
Sex       0.000000
Age       0.000000
Height    0.221938
Weight    0.231912
Team      0.000000
NOC       0.000000
Games     0.000000
Year      0.000000
Season    0.000000
City      0.000000
Sport     0.000000
Event     0.000000
Medal     0.000000
dtype: float64

In [179]:
import math

events_arr = athlete_events['Event'].unique()
for each in events_arr:
    temp_mean = athlete_events[athlete_events['Event'] == each].mean()[2]
    for i in athlete_events.loc[athlete_events['Event'] == each]['Height'].index:
        if math.isnan(athlete_events['Height'].iloc[i]):
            athlete_events['Height'].iloc[i] = temp_mean

/home/vishwasnm/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [180]:
import math

events_arr = athlete_events['Event'].unique()
for each in events_arr:
    temp_mean = athlete_events[athlete_events['Event'] == each].mean()[3]
    for i in athlete_events.loc[athlete_events['Event'] == each]['Weight'].index:
        if math.isnan(athlete_events['Weight'].iloc[i]):
            athlete_events['Weight'].iloc[i] = temp_mean

In [181]:
athlete_events.dropna(subset=['Height'], inplace=True)
athlete_events.dropna(subset=['Weight'], inplace=True)

In [183]:
athlete_events.to_csv('athlete_events_clean.csv', index= None, header=True)

In [184]:
athlete_events = pd.read_csv('athlete_events_clean.csv')

In [185]:
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.000000,80.000000,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,2,A Lamusi,M,23.0,170.000000,60.000000,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,3,Gunnar Nielsen Aaby,M,24.0,177.480339,73.086644,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,4,Edgar Lindenau Aabye,M,34.0,182.480000,95.615385,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,1
4,5,Christine Jacoba Aaftink,F,21.0,185.000000,82.000000,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0

In [162]:
athlete_events[athlete_events['Weight'].isnull()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
86,25,Alf Lied Aanning,M,24.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",0
106,38,Karl Jan Aas,M,20.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",0
700,399,Egil Sten Abel,M,20.0,NaN,NaN,Fornebo,NOR,1920 Summer,1920,Summer,Antwerpen,Sailing,Sailing Mixed 7 metres,0
921,521,Isak Abrahamsen,M,21.0,NaN,NaN,Norway,NOR,1912 Summer,1912,Summer,Stockholm,Gymnastics,"Gymnastics Men's Team All-Around, Free System",1
1203,677,Georges Achille-Fould,F,55.0,175.000000,NaN,France,FRA,1924 Summer,1924,Summer,Paris,Art Competitions,Art Competitions Mixed Painting,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270357,135239,Khristos Zorbas,M,23.0,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Fencing,"Fencing Men's Sabre, Individual, Three Hits",0
270575,135324,"Joseph ""Jos"" Zuang",M,21.0,NaN,NaN,Luxembourg,LUX,1912 Summer,1912,Summer,Stockholm,Gymnastics,"Gymnastics Men's Team All-Around, Free System",0
270747,135405,Fritz Zulauf,M,27.0,174.000000,NaN,Switzerland,SUI,1920 Summer,1920,Summer,Antwerpen,Shooting,"Shooting Men's Military Pistol, Team",0
270748,135405,Fritz Zulauf,M,27.0,173.916667,NaN,Switzerland,SUI,1920 Summer,1920,Summer,Antwerpen,Shooting,"Shooting Men's Free Pistol, 50 metres, Team",0
270749,135405,Fritz Zulauf,M,27.0,177.750000,NaN,Switzerland,SUI,1920 Summer,1920,Summer,Antwerpen,Shooting,"Shooting Men's Military Pistol, 30 metres",0

In [69]:
athlete_events.iloc[37]

ID                                            15
Name                        Arvo Ossian Aaltonen
Sex                                            M
Age                                           30
Height                                       NaN
Weight                                       NaN
Team                                     Finland
NOC                                          FIN
Games                                1920 Summer
Year                                        1920
Season                                    Summer
City                                   Antwerpen
Sport                                   Swimming
Event     Swimming Men's 200 metres Breaststroke
Medal                                     Bronze
Name: 37, dtype: object

In [61]:
athlete_events.loc[athlete_events['Medal'] == 0]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,0
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,0
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,0
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,0
50,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Team All-Around,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271032,135535,Claudia Antoinette Zwiers,F,22.0,181.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Judo,Judo Women's Middleweight,0
271048,135545,Henk Jan Zwolle,M,27.0,197.0,93.0,Netherlands,NED,1992 Summer,1992,Summer,Barcelona,Rowing,Rowing Men's Double Sculls,0
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,0
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",0
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,0

In [88]:
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,1
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0