In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
athlete_events = pd.read_csv('./data/athlete_events_clean.csv')
noc = pd.read_csv('./data/noc_regions_clean.csv')
summer = pd.read_csv('./data/summer_clean.csv')
country_dict = pd.read_csv('./data/country_dictionary.csv')

In [3]:
athlete_events.describe()

,ID,Age,Height,Weight,Year,Medal
count,266208.000000,266208.000000,266208.000000,266208.000000,266208.000000,266208.000000
mean,68233.783192,25.323781,175.435908,71.094734,1979.544281,0.059059
std,39031.466685,6.070495,9.957937,13.623307,28.831314,0.235736
min,1.000000,10.000000,127.000000,25.000000,1896.000000,0.000000
25%,34649.000000,22.000000,168.000000,62.000000,1964.000000,0.000000
50%,68169.000000,24.000000,176.000000,70.000000,1988.000000,0.000000
75%,102096.250000,28.000000,182.000000,79.000000,2004.000000,0.000000
max,135571.000000,96.000000,226.000000,214.000000,2016.000000,1.000000

In [4]:
len(athlete_events.loc[athlete_events['Medal'] == 3])

0

In [ ]:
athlete_events.head()