In [6]:
import pandas as pd
import numpy as np

athlete_events = pd.read_csv('./data/athlete_events.csv')
country_dictionary = pd.read_csv("./data/country_dictionary.csv")
noc_regions = pd.read_csv("./data/noc_regions.csv")
summer = pd.read_csv("./data/summer.csv")
winter = pd.read_csv("./data/winter.csv")

athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [7]:
len(athlete_events)

271116

In [8]:
athlete_events.isnull().sum()/len(athlete_events)

ID        0.000000
Name      0.000000
Sex       0.000000
Age       0.034944
Height    0.221938
Weight    0.231912
Team      0.000000
NOC       0.000000
Games     0.000000
Year      0.000000
Season    0.000000
City      0.000000
Sport     0.000000
Event     0.000000
Medal     0.853262
dtype: float64

In [9]:
athlete_events['Age'].fillna(athlete_events['Age'].mode()[0], inplace=True)

In [10]:
athlete_events['Medal'].fillna(0, inplace=True)

In [11]:
athlete_events['Medal'].replace('Gold', 1, inplace=True)
athlete_events['Medal'].replace('Silver', 2, inplace=True)
athlete_events['Medal'].replace('Bronze', 3, inplace=True)

In [12]:
athlete_events.isnull().sum()/len(athlete_events)

ID        0.000000
Name      0.000000
Sex       0.000000
Age       0.000000
Height    0.221938
Weight    0.231912
Team      0.000000
NOC       0.000000
Games     0.000000
Year      0.000000
Season    0.000000
City      0.000000
Sport     0.000000
Event     0.000000
Medal     0.000000
dtype: float64

In [13]:
import math

events_arr = athlete_events['Event'].unique()
for each in events_arr:
    temp_mean = athlete_events[athlete_events['Event'] == each].mean()[2]
    for i in athlete_events.loc[athlete_events['Event'] == each]['Height'].index:
        if math.isnan(athlete_events['Height'].iloc[i]):
            athlete_events['Height'].iloc[i] = temp_mean

/home/vishwasnm/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [14]:
import math

events_arr = athlete_events['Event'].unique()
for each in events_arr:
    temp_mean = athlete_events[athlete_events['Event'] == each].mean()[3]
    for i in athlete_events.loc[athlete_events['Event'] == each]['Weight'].index:
        if math.isnan(athlete_events['Weight'].iloc[i]):
            athlete_events['Weight'].iloc[i] = temp_mean

In [15]:
athlete_events.dropna(subset=['Height'], inplace=True)
athlete_events.dropna(subset=['Weight'], inplace=True)

In [16]:
athlete_events.to_csv('athlete_events_clean.csv', index= None, header=True)

In [17]:
athlete_events = pd.read_csv('athlete_events_clean.csv')

In [18]:
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.000000,80.000000,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,2,A Lamusi,M,23.0,170.000000,60.000000,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,3,Gunnar Nielsen Aaby,M,24.0,177.480339,73.086644,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,4,Edgar Lindenau Aabye,M,34.0,182.480000,95.615385,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,1
4,5,Christine Jacoba Aaftink,F,21.0,185.000000,82.000000,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0

In [19]:
athlete_events[athlete_events['Weight'].isnull()]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [20]:
athlete_events.iloc[37]

ID                                            15
Name                        Arvo Ossian Aaltonen
Sex                                            M
Age                                           30
Height                                   182.008
Weight                                   76.6941
Team                                     Finland
NOC                                          FIN
Games                                1920 Summer
Year                                        1920
Season                                    Summer
City                                   Antwerpen
Sport                                   Swimming
Event     Swimming Men's 200 metres Breaststroke
Medal                                          3
Name: 37, dtype: object

In [25]:
len(athlete_events.loc[athlete_events['Medal'] == 3])

227946

In [88]:
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,1
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0